<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        <li th:each="data: ${member}"
            th:text="${data.mno} + ', ' + ${data.mname}
                 + ', ' + ${data.email} + ', ' + ${data.pwd}
                 + ', ' + ${#dates.format(data.cre_date, 'yyyy-MM-yy HH:mm:ss')}
                 + ', ' + ${#dates.format(data.mod_date, 'yyyy-MM-yy HH:mm:ss')}">
        </li>
    </ul>
</body>
</html>